shared/mll/bin
shared/mll/dot
shared/mll/plots
shared/dot
shared/plots

shared/.bash_history
shared/.viminfo
shared/.ipynb_checkpoints/
shared/.java/
shared/.jupyter/
shared/.local/

*.ll
!helloworld.ll
